* {
	padding: 0;
	margin: 0;
}
html, body {
	background: #000;
	color: #fff;
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
}
canvas {
	touch-action-delay: none;
	touch-action: none;
	-ms-touch-action: none;
	
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}